@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Make form inputs consistent across the app */
@layer base {
  input,
  textarea,
  select {
    @apply bg-white text-gray-900 placeholder-gray-400;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400;
    opacity: 1; /* ensure placeholder is visible */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


